<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta charset="UTF-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Technical Discussion Forum</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />    
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

        <meta charset="UTF-8">

    
    
    <link rel="stylesheet" href="css/reset.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="css/style.css">

<style type="text/css">
    table td {
        font-family: Droid Serif;
        font-size: 18;
    }
</style>

</head>
<body >
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Technical Discussion Forum</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="homepage">HOME</a></li>
                     <li><a href="about">ABOUT</a></li>
                    <li><a href="contact">CONTACT</a></li>
                     <li><a href="login">LOG IN</a></li>
                      <li><a href="signup">SIGN UP</a></li>
                </ul>
            </div>
           
        </div>
    </div>
   <!--/.NAVBAR END-->
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div align="center">
        <table style="width:60%;"> <font size="18">
<tr>
<td>
The Technical Discussion Forum is a discussion forum that gives information about various programming languages, related questions, information related to java, Vb.net, Php, Android related questions,etc.

This forum is useful for the beginners to get information related to various topics.<br><br>

 There is a centralized database in which all the information is managed.
 
 The administrator acts as the highest authority and has the rights to update, delete and edit the database.<br><br> The user has to create the account to access the data. Once the user has created the account in the database he becomes the connected user.<br><br>
 
  When some other user asks the questions these connected user if knows the answer can reply the answer it. The user who logged in can select the questions according to the category.<br><br>
  
   The administrator can insert new topic dynamically. The connected user while logged in can exchange messages with each other.<br><br> If the message is present in the database the answer is received to the person who asked the question immediately.
   
    When the user asks the question related to any topic all the related question and their answers will be displayed.
    This site also shows likes and unlikes to answers.
     This site also gives us information who had asked the questions and which users has replied to those question. </p>
     </td>
     </tr>
     </table>
     </font> </div>
</body>

</html>