<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta charset="UTF-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Technical Discussion Forum</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />    
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

        <meta charset="UTF-8">

    
    
    <link rel="stylesheet" href="css/reset.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

        <link rel="stylesheet" href="css/style.css">

        <style>
        table,
        td {
            padding-left: 170px;
            padding-right: 50px;
            padding-bottom: 50px;
            font-size: 20;
        }
        th {
            padding-left: 170px;
            padding-right: 50px;
            padding-bottom: 50px;
            font-size: 25;
            font-style: h1;
        }
    </style>



</head>
<body >
    
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Technical Discussion Forum</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="homepage">HOME</a></li>
                     <li><a href="about">ABOUT</a></li>
                    <li><a href="contact">CONTACT</a></li>
                     <li><a href="login">LOG IN</a></li>
                      <li><a href="signup">SIGN UP</a></li>
                </ul>
            </div>
           
        </div>
    </div>
   <!--/.NAVBAR END-->
   <br><br><br><br><br><br><br><br><br><br><br>
        <h1><center><font face="Droid Serif" size="20">Contact Us</center><br>
    </font>
        <h2>
            <font face="Droid Serif" size="10">
            <table cellpadding="30">
                <tr>
                    <h2>
                    <th>Name</th>
                    <p></p>
                    <th>Email ID</th>
                    <p></p>
                    <th>Mobile Number</th>
                    </h2>
                </tr>

                <tr>
                    <td>Kaustubh Jadhav</td>
                    <td>kaustubhjadhav100@gmail.com</td>
                    <td>9850568549</td>
                </tr>

                <tr>
                    <td>Nikita Kagade</td>
                    <td>nikitakagade@gmail.com</td>
                    <td>9421352623</td>
                </tr>

                <tr>
                    <td>Shubham Khankale</td>
                    <td>shubhamkhankale@gmail.com</td>
                    <td>8793575781</td>
                </tr>

                <tr>
                    <td>Gaurav Londhe</td>
                    <td>gauravlondhe21@gmail.com</td>
                    <td>8805041178</td>
                </tr>

            </table>
        </h2>
        </font>
    <style>
        
    </style>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>

</html>



    <link rel="stylesheet" type="text/css" href="/css/st.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate.css" />